/*Body*/

body{

  
  font-size: 14px;
  color: #404040;
  margin: 10px;
  background: url("../img/bg1.png");

  
}

/*Navigation*/

nav{

position: fixed; 
background: url("../img/wall.png");
width: auto;
padding-left: 5px;
padding-right: 15px;
border-radius: 0 30px 30px 0;
margin-left: -10px;
font-size: .8em;
z-index:2;


}
/*Header*/

.banner{

background: #3bff5c;
opacity: 0.8;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index:1;


}

header{


}


/*Title*/


h1{

font-family: 'Orbitron', sans-serif;
color: #272727;
font-size: 5em;
text-align: center;

}

/*Primary Header*/


h2{

font-family: 'Russo One', sans-serif;
color: #cfcfcf;
font-size: 3em;

}

/*Secondary Header*/


h3{

font-family: 'Russo One', sans-serif;
color: #ff3054;
font-size: 2em;


}


/*Body Text*/


p{

font-family: 'Numans', sans-serif;
line-height: 1.5em;
color: #4d4d4d;
font-size: 1.1em;

}

em{

font-size: .8em;

}


/*Links*/


a:link, a:visited{


text-decoration: none;
color: #ff3054;
cursor: auto;
transition-property: background, color, opacity;
transition-duration: .5s;
transition-timing-function: linear;
cursor: pointer;

}

a:active,  { 
    color: white;

}

a:hover{
  color:#3bff5c;


}


/*Style Tile*/

/*

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
  border: 1px solid #000;
  float: left;
  margin: 0 10px;
  height: 50px;
  width: 50px;
}

/*Color Palette*/

/*
.color-1{

background: #cfcfcf;

}

.color-2{


background: #3bff5c;

}


.color-3{

background: #ff3054;

}
*/


/*Textures*/

/*
.pattern-1{

background: url("../img/wall.png")

}

.pattern-2{

background: url("../img/pattern.png")

}

.pattern-3{

background: url("../img/bg1.png")

}*/


#container{

  width: 100%;
  height: 100%;
  color: #404040;
  background: black;
  border-radius: 10px 10px 10px 10px;

}

#content{

padding:30px;
max-width: 100%;
min-width: 32%;
margin-top: 100px;
max-width: 100%;
min-width: 32%;
float: left;
margin-left: 10px;
margin-top: 500px;
margin-right:10px;
margin-bottom:10px;
padding-top: 0px;
padding-bottom: 20px;
border-radius: 4px;


}


.gallery-bg{

background: url("../img/bg1.png");
width: 100%;
height: auto;

}




/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}

/*Codepen GalleryL: http://codepen.io/davilious/pen/mGEBC*/

@@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@keyframes move {
  to {
    background-position: 100% 50%;
  }
}
html, body {
  width: 100%;
  height: 100%;
  background: black;
}

.gallery {
  display: box;
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 80%;
  height: 50%;

}

.photo {
  display: flex;
  margin: 0;
  padding: 0;
  width: 15%;
  min-width: 15%;
  min-height: 100%;
  overflow: hidden;
  transition: all .6s ease-in-out;
  opacity: .6;
  float: left;
}
.photo:hover {
  width: 40%;
  animation: move 4s linear .5s infinite alternate;
  opacity: 1;
}
.photo:hover:after {
  right: 0% !important;
  transition: right .4s linear 1s;
}

.photo:nth-child(1) {
  position: relative;
  flex: 1;
  background: url("../img/logo_png24.png") no-repeat;
  background-position: 50% 50%;
  -webkit-filter: hue-rotate(50deg);
}
.photo:nth-child(1):after {
  position: absolute;
  right: -100%;
  display: inline-block;
  font-family: 'Russo One', sans-serif;
  color: #ff3054;
  font-size: 2em;
  background: url("../img/pattern.png");
  opacity: .95;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 15%;
  text-align: center;
  content: attr(data-title);
  -webkit-filter: hue-rotate(-50deg);
}

.photo:nth-child(2) {
  position: relative;
  flex: 2;
  background: url("../img/composition.png") no-repeat;
  background-position: 50% 50%;
  -webkit-filter: hue-rotate(100deg);
}
.photo:nth-child(2):after {
 position: absolute;
  right: -100%;
  display: inline-block;
  font-family: 'Russo One', sans-serif;
  color: #ff3054;
  font-size: 2em;
  background: url("../img/pattern.png");
  opacity: .85;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 15%;
  text-align: center;
  content: attr(data-title);
  -webkit-filter: hue-rotate(-100deg);
}

.photo:nth-child(3) {
  position: relative;
  flex: 3;
  background: url("../img/sketch.png") no-repeat;
  background-position: 50% 50%;
  -webkit-filter: hue-rotate(100deg);
}
.photo:nth-child(3):after {
  position: absolute;
  right: -100%;
  display: inline-block;
  font-family: 'Russo One', sans-serif;
  color: #ff3054;
  font-size: 2em;
  background: url("../img/pattern.png");
  opacity: .85;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 15%;
  text-align: center;
  content: attr(data-title);
  -webkit-filter: hue-rotate(-100deg);
}

.photo:nth-child(4) {
  position: relative;
  flex: 4;
  background: url("../img/photo.png") no-repeat;
  background-position: 50% 50%;
  -webkit-filter: hue-rotate(800deg);
}
.photo:nth-child(4):after {
  position: absolute;
  right: -100%;
  display: inline-block;
  font-family: 'Russo One', sans-serif;
  color: #ff3054;
  font-size: 2em;
  background: url("../img/pattern.png");
  opacity: .85;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 15%;
  text-align: center;
  content: attr(data-title);
  -webkit-filter: hue-rotate(-800deg);
}

.photo:nth-child(5) {
  position: relative;
  flex: 5;
  background: url("../img/arts_crafts.png") no-repeat;
  background-position: 50% 50%;
  -webkit-filter: hue-rotate(200deg);
}
.photo:nth-child(5):after {
  position: absolute;
  right: -100%;
  display: inline-block;
  font-family: 'Russo One', sans-serif;
  color: #ff3054;
  font-size: 2em;
  background: url("../img/pattern.png");
  opacity: .85;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 15%;
  text-align: center;
  content: attr(data-title);
  -webkit-filter: hue-rotate(-200deg);
}

.photo:nth-child(5) {
  border-right: none;

}

@media screen and (max-width: 400px) {
  .container {
    display: block !important;
  }

  .photo {
    width: 100% !important;
    border-bottom: 10px solid black !important;
    background-position: 50% 35% !important;
  }
}






